body {
  margin: 0;
  padding: 0;
  background: rgb(70, 68, 68);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-layout {
  position: relative;
}
.main-layout .navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgb(200, 75, 40);
}
.main-layout .navbar .container-fluid {
  margin: 0 10rem;
  padding: 0;
}
.main-layout .navbar .logo-section a img {
  width: 50px;
  color: coral;
  margin: 0.5rem auto;
}
.main-layout .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 1.3rem;
}
.main-layout .navbar .navbar-nav .nav-item .nav-link:hover {
  color: rgb(70, 68, 68);
}
.main-layout .navbar .navbar-nav .nav-item .nav-link:focus {
  color: rgb(70, 68, 68);
}
.main-layout .navbar .contact-section .nav-link {
  color: #fff;
  font-size: 1.3rem;
}
.main-layout .navbar .contact-section .nav-link:hover {
  color: rgb(70, 68, 68);
}
.main-layout .navbar .contact-section .nav-link:focus {
  color: rgb(70, 68, 68);
}
.main-layout .data-section {
  position: relative;
  height: 100vh;
}
.main-layout .data-section .articles {
  margin: 1rem auto;
  width: 95%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 1rem;
  background: rgb(255, 255, 255);
}
.main-layout .home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-layout .home .enter-btn {
  display: none;
  color: #fff;
  margin-top: 5rem;
  border: 2px solid coral;
  width: 150px;
  background: rgb(70, 68, 68);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.main-layout .home .enter-btn:hover {
  box-shadow: 1px 5px 20px rgb(70, 68, 68), 1px -5px 20px rgb(70, 68, 68);
}
.main-layout .home .enter-btn.show-enter-btn {
  display: block;
}
.main-layout .home .selection-panel {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 30%;
  transform: translateY(-50%);
  position: absolute;
  background: rgb(70, 68, 68);
  padding: 1rem;
  border-radius: 1rem;
}
.main-layout .home .selection-panel .alert {
  font-size: 1.4rem;
}
.main-layout .home .selection-panel .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 1rem;
}
.main-layout .home .selection-panel .buttons .btn {
  color: #fff;
  border: 2px solid coral;
  background: rgb(70, 68, 68);
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 2rem 2rem 1rem 2rem;
}
.main-layout .home .show-selection-panel {
  display: flex;
}
.main-layout .home .questions-panel {
  display: none;
  flex-wrap: wrap;
  border-radius: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(234, 235, 235);
  box-sizing: border-box;
}
.main-layout .home .questions-panel .questions-label {
  position: relative;
  padding: 1rem;
  float: left;
  width: 30%;
}
.main-layout .home .questions-panel .questions-label .alert {
  font-size: 1.2rem;
}
.main-layout .home .questions-panel .questions-label .alert span {
  font-size: 1.2rem;
  color: rgb(200, 75, 40);
}
.main-layout .home .questions-panel .questions-label ul li {
  font-size: 1.2rem;
}
.main-layout .home .questions-panel .questions-label ul li span {
  color: rgb(200, 75, 40);
  font-size: 1.2rem;
}
.main-layout .home .questions-panel .questions-label .show-btn {
  background: rgb(200, 75, 40);
  color: #fff;
}
.main-layout .home .questions-panel .image-label {
  position: relative;
  padding: 1rem;
  float: left;
  width: 70%;
}
.main-layout .home .questions-panel .image-label .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-layout .home .questions-panel .image-label .header button span {
  margin: 0 0rem;
  background: rgb(200, 75, 40);
  font-size: 1.2rem;
  color: #000;
}
.main-layout .home .questions-panel .image-label img {
  max-height: 720px;
  width: 100%;
  height: 80%;
}
.main-layout .home .questions-panel .image-label .control-buttons {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.main-layout .home .questions-panel .image-label .control-buttons .btn {
  border: 1px solid rgb(200, 75, 40);
}
.main-layout .home .questions-panel .image-label .control-buttons .btn:hover {
  color: rgb(200, 75, 40);
}
.main-layout .home .questions-panel.show-questions-panel {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .main-layout .home .questions-panel {
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  .main-layout .home .questions-panel .questions-label {
    position: relative;
    float: left;
    width: 100%;
  }
  .main-layout .home .questions-panel .image-label {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
  }
  .main-layout .home .questions-panel .image-label .header-section {
    position: absolute;
    display: flex;
    justify-content: space-between;
  }
  .main-layout .home .questions-panel .image-label img {
    max-height: 720px;
    min-height: 720px;
    width: 100%;
    height: 90%;
  }
}

.about, .projects {
  position: relative;
  padding: 2rem;
}
.about p, .projects p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2rem;
}