@import "./Variables.scss";

.navbar {
display: flex;
justify-content: center;
align-items: center;
padding: 7px 5%;
    .navbar_brand_section {
        img {
            width: 80px;
            height: 80px;
        }
    }
    .navbar_links_section {
        .link {
            margin: 0 1rem;
            text-decoration: none;
            color: #e9eeF2;
            font-size: 2rem;
            font-weight: 600;
        }
    }
}