body {
    margin: 0;
    padding: 0;
    background: #697A98;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        .enter-btn{
            color: #fff;
            margin-top: 5rem;
            border: 2px solid #333;
            width: 150px;
            background: rgb(61, 66, 67);
            padding:0.5rem 1rem;
            border-radius: 1rem;
            font-size: 1.7rem;
            &:hover {
                box-shadow: 
                1px 5px 20px rgb(70, 68, 68),
                1px -5px 20px rgb(70, 68, 68);
            }
        }
        .selection-panel {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            margin-top: 5rem;
            padding: 1rem;
            border-radius: 3rem;
            background: rgb(7, 102, 119) ;
            .alert {
                font-size: 2rem;
                border-radius: 2rem;
                background-color: #697A98;
             }
             select{ 
                height: 5rem;
                font-size: 2rem;
             }
             .buttons {
                display: flex;
                width: 100%;
                justify-content: space-between;
                border-radius: 1rem;
                .btn {
                    color: #fff;
                    border: 2px solid #333;
                    border-radius: 1rem;
                    font-size: 1.5rem;
                    padding: 0.5rem;
                    margin: 2rem 2rem 1rem 2rem;
                }
            }
            }
        .questions-panel {
            display: grid;
            grid-template-columns: 2.5fr 5fr;
            grid-gap: 1rem;
            min-height: 500px;
            padding: 1rem;
            font-size: 1.7rem;
            .questions-label {
                .alert {
                    text-align: justify;
                    span {
                        color: #333;
                    }
                }
                ul {
                    li {
                        list-style-type: decimal;
                        background: none;
                        border-radius: 2rem;
                        padding: 1rem;
                        border-bottom: 3px solid #fff;
                        margin: 0.5rem 0;
                        span {
                            color: #333;
                        }
                    }
                }
            }
            .image-label {
                .header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .bilet {
                        background: rgb(7, 102, 119);
                        color: #fff;
                        font-size: 1.5rem;
                    }
                    .hide_question_btn {
                        background: #333;
                        border: none;
                        color: rgb(191, 43, 43);
                        font-size: 2rem;
                    }
                }
                img {
                    filter: brightness(130%);
                    max-height: 720px;
                    width: 100%;
                    height: 80%;
                }

                .control-buttons {
                    display: flex;
                    padding: 1rem;
                    justify-content: space-between;
                    .btn {
                        border: 1px solid #000;
                        background: rgb(7, 102, 119);
                        color: #fff;
                    }
                }
            }
        } 

        @media screen and (max-width: 1200px) {
            .questions-panel {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;

                .questions-label {
                    grid-row: 2 / -1;
                }
            }
        }
}