body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-layout {
    position: relative;
    .navbar {
        background: rgb(200, 75, 40);
        .links-section {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .navbar-nav {
                .nav-item{
                    img {
                        width: 80px;
                        height: 80px;
                    }
        }    
        }
        }

    }
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        .enter-btn{
            display: none;
            color: #fff;
            margin-top: 5rem;
            border: 2px solid rgb(200, 75, 40);
            width: 150px;
            background: rgb(70, 68, 68);
            padding: 1rem;
            border-radius: 1rem;
            font-size: 1.5rem;

            &:hover {
                box-shadow: 
                1px 5px 20px rgb(70, 68, 68),
                1px -5px 20px rgb(70, 68, 68);
            }
        }

        .enter-btn.show-enter-btn {
            display: block;
        }

        .selection-panel {
            display: none;
            position: absolute;
            flex-direction: column;
            align-items: center;
            top: 100%;
            margin-top: 5rem;
            background: rgb(70, 68, 68);
            padding: 1rem;
            border-radius: 3rem;
            
            .alert {
                font-size: 2rem;
                border-radius: 2rem;
                background-color: rgb(200, 75, 40);
             }

             select{ 
                height: 5rem;
                font-size: 2rem;
                option {
                background: #fff;
                &:hover {
                    outline: none;
                    border: none;
                    background: none;
                }
             }}
            .buttons {
                display: flex;
                width: 100%;
                justify-content: space-between;
                border-radius: 1rem;

                .btn {
                    color: #fff;
                    border: 2px solid coral;
                    background: rgb(70, 68, 68);
                    border-radius: 1rem;
                    font-size: 1.5rem;
                    padding: 0.5rem;
                    margin: 2rem 2rem 1rem 2rem;
                }
            }
        }
        .show-selection-panel {
            display: flex;
        }

        .questions-panel {
            display:none;
            flex-wrap: wrap;
            border-radius: 1rem;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            min-height: 500px;
            background: rgb(234, 235, 235);
            box-sizing: border-box;

            .questions-label {
                position: relative;
                padding: 1rem;
                font-size: 2rem;
                float: left;
                width: 30%;
                .alert {
                    span {
                        color: rgb(200, 75, 40);
                    }
                }
                ul {
                    li {
                        list-style-type: decimal;
                        background: none;
                        border-radius: 2rem;
                        padding: 1rem;
                        border-bottom: 3px solid #fff;
                        margin: 0.5rem 0;
                        span {
                            color: rgb(200, 75, 40);
                        }
                    }
                }

                .dropdown {
                    .show-btn {
                        margin-top: 1rem;
                        background: rgb(200, 75, 40);
                        color: #fff;
                    }

                    .dropdown-item {
                        font-size: 2rem;
                    }
                }
            }
            .image-label {
                position: relative;
                padding: 1rem;
                float: left;
                width: 70%;

                .header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    button {
                        span {
                            margin: 0 0rem;
                            background: rgb(200, 75, 40);
                            font-size: 1.2rem;
                            color: #000;
                        }
                    }
                }
            

                img {
                    max-height: 720px;
                    width: 100%;
                    height: 80%;
                }

                .control-buttons {
                    display: flex;
                    padding: 1rem;
                    justify-content: space-between;

                    .btn {
                        border: 1px solid rgb(200, 75, 40);

                        &:hover {
                            color: rgb(200, 75, 40);
                        }
                    }
                }
            }
        }

        .questions-panel.show-questions-panel {
            display: flex;
        }
        @media only screen and (max-width: 1000px) {
            .selection-panel .buttons .btn {
                color: #fff;
                font-size: 1.2rem;
                margin: 2rem 1rem 1rem 1rem;
            }
            .questions-panel {
                position: absolute;
                width: 100%;
                display:none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                position: relative;
        
                .questions-label {
                    order: 2;
                    position: relative;
                    float: left;
                    width: 100%;
                    .list-groups {
                        .list-groups-item {
                            background: none;
                        }
                    }
                }
                .image-label {
                    position: absolute;
                    top: 0;
                    order: 1;
                    position: relative;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    float: left;
                    width: 100%;

                    .header-section {
                        position: absolute;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
          }
    }
}